@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Adicional, Por cada estudiante calcular el promedio de las mencionadas calificaciones obtenidas en el curso.
</p>
<p>
    • Calcular el “estado de aprobación por cada estudiante”: Si el promedio de las calificaciones es menor a 7 el estudiante reprobará la materia, caso contrario la aprobará.
</p>
<p>
    • La escala de valoración de una calificación será de 0 a 10.
</p>
<p>
    • La aplicación también debe permitir filtrar en una pantalla a todos los estudiantes aprobados y reprobados.
</p>