@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    David Alexander Mites<br />
    Kennedy, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +593 9 9582 2296
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">David.Alexander.Mites@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>